.DottedBox {
    margin: 40px;
    border: 5px dotted pink;
    border-radius: 3px;
}

.DottedBox__font {
    font-weight: bold;
    font-size: 40px;
}

.DottedBox--color {
    color: red;
}

.DottedBox_content {
    text-align: center;
}